# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
*.pyc
env/
build/
dist/

# Node
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

# IDE
.idea/
*.iml

# Docker
.docker/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

backend/uploads/

# Runtime Artifacts
backend/jobs/
backend/results/
backend/temp/
backend/desktop_settings.json
backend/marketplace_credentials.json
